<!DOCTYPE html>
	<head>
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/bootstrap/css/style.css">
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="../lib/angular/angular.js"></script>
		<script src="../lib/angular-resource/angular-resource.js"></script>
	    <script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
	    <script src="../lib/ngstorage/ngStorage.js"></script>
	    <script src="../lib/angular-jwt/dist/angular-jwt.js"></script>
		<script src="task/taskResource.js"></script>
		<script src="task/task.js"></script>
		<script src="comments/commentResource.js"></script>
		<script src="comments/comment.js"></script>
		<script src="projects/project.js"></script> -->
		<script src="projects/projectResource.js"></script> -->
		<script src="projects/userProject.js"></script> -->
		<script src="projects/userResource.js"></script> -->
		<script src="utils/authentication.js"></script>
		<script src="users/login.js"></script>
		<script src="users/register.js"></script>
		<script src="index.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>
  		<script type="text/javascript">
		function proveri() {
		var pass1 = document.getElementById('pass1');
		var pass2 = document.getElementById('pass2');
		var confirm = document.getElementById('confirm');
		var message = document.getElementById('confirmMessage');
		var goodColor = "#66cc66";
		var badColor = "#ff6666";
		if (pass1.value == pass2.value) {
			pass2.style.backgroundColor = goodColor;
			message.style.color = goodColor;
			message.innerHTML = "Lozinke se poklapaju!"
			confirm.disabled = false;
		} else {
			pass2.style.backgroundColor = badColor;
			message.style.color = badColor;
			message.innerHTML = "Lozinke se ne poklapaju!"
			confirm.disabled = true;
			}
		}
		</script>
	</head>
	<body ng-app="app">
	<div class="container">
	
	<div class="col-sm-2" ng-if="isLoggedIn()">
            <nav class="nav-sidebar">
				<ul class="nav">
                    <li><a>Projects</a></li>
                    <li><a >Tasks</a></li>
                    <li><a>People</a></li>
                    <li class="nav-divider"></li>
                    <li><img src="images/out.png" width="30"> <button class="btn btn-primary" ng-click="logout()">log out</button> </li>
                </ul>
			</nav>
	</div>
	
		<!--<div class="form-login" ng-if="!isLoggedIn()&&getCurrentState()!=='login'" >
			<div class="wrapper">
				<a ui-sref="login"><button class="btn btn-primary">Confirm you are 18+</button></a>
			</div>
		</div>
	-->
		<div ui-view>
		</div>
	
	
	</div>
	</body>
</html>
