<div class="comment">
	
	<b>{{comment.signedBy}}</b>
	</br>
	<p>{{comment.text}}</p>
	<p>
	<div ng-if="getCurrentUserRole()=='admin'" style="position:relative; bottom:5px; left: 80%;">
	<button ng-click="delete(task,comment)"><img src="images/delete.jpg" width="30"></button>
	<button ng-click="edit(comment)"><img src="images/edit.png" width="30"></button>
	</div>
	</p>
		<p>

	<div ng-if="getCurrentUserRole()=='user'" style="position:relative; bottom:5px; left: 80%;">
	<div ng-if="comment.signedBy == getCurrentUser()">
	<button ng-click="delete(task,comment)"><img src="images/delete.jpg" width="30"></button>
	<button ng-click="edit(comment)"><img src="images/edit.png" width="30"></button>
	</div>
	</div>

		</p>
	</br>
	Posted on  <span class="footerContent">{{comment.createdAt.replace('T',' ').replace('Z','')}}</span>
</div>