<div class="row">
				<div class="col-md-offset-5 col-md-3">
					<div class="form-login">
					<form ng-submit="login()">
						<h4>Please login.</h4>
						<input ng-model="user.name" type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" required/>
						</br>
						<input ng-model="user.password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" required/>
						</br>
						<div class="wrapper">
							<span class="group-btn"> 
							<input type="submit" value="log in" class="btn btn-primary"/>						
							</span>
						</div>
						</br>
						<a ui-sref="register">Sign up</a>
					</form>
					</div>
        
				</div>
		</div>