<div class="content">
<div ng-controller="tasksCtrl" class="items">
	<h1>Tasks</h1>
	</br>
	<div ng-repeat="task in tasks" class="item">
		<table width="400">
			<tr>
				<td colspan="2">
					<h3>{{ task.title }}</h3>
				</td>
			</tr>
			<tr>
				<td width="200">
					{{ task.entry }}
				</td>
			</tr>
		</table>
		<div style="position:relative; bottom:5px; left: 60%;">
			<button ng-if="getCurrentUserRole()&&getCurrentUserRole()=='admin'" ng-click="delete(task)"><img src="images/delete.jpg" width="30"></button>
			<button ng-if="getCurrentUserRole()&&getCurrentUserRole()=='admin'" ng-click="edit(task)"><img src="images/edit.png" width="30"></button>
			<button ng-click="details(task)"><img src="images/details.png" width="30"></button>
		</div>
	</div>

	<div  ng-if="isLoggedIn()" class="newItem">
	<hr/>
	<h2>New task</h2>
	<table>  
		<tr>
			<td>title:</td>
			<td><input type="text" ng-model="task.title"></td>
		</tr>
		<tr>
			<td>entry:</td>
			<td><textarea rows="4" cols="50" ng-model="task.entry"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" aling="center"><button ng-click="save()">submit</button></td>
		</tr>
	</table>
	</div>
	
</div>
</div>