<div class="content">
	<div class="items">
		<h2>Task mark: {{task.mark}}</h2>
		<h3>Title: {{task.title}}</h3>
		<div>Priority: <span class="footerContent">{{task.priority.name}}</span></div>
		<div>Status: <span class="footerContent">{{task.status.name}}</span></div>
		<div>Created By: <span class="footerContent">{{task.createdBy}}</span></div>
		<div>Assigned To: <span class="footerContent">{{task.assignedTo}}</span><div>
		<div>Creation date: <span class="footerContent">{{task.createdAt | date:'dd.MM.yyyy. HH:mm:ss'}}</span></div>
		<div>Description: <span class="footerContent"> {{task.entry}}</span></div>
	</div>

	</br>
	</br>
	<div ng-controller="commentCtrl">
	<div ng-include="'comments/commentForm.html'" style="padding-left: 20px;">
	</div>

	</br>
	<div ng-if="task.comments && task.comments.length>0" class="items">
		<div>
			<div ng-repeat="comment in task.comments"
				ng-include="'comments/comment.html'">
			</div>
		</div>
	</div>
	</div>
</div>