<div class="content">
<div ng-controller="projectsCtrl">
	<h1>Projects</h1>
	
		<div ng-if="getCurrentUserRole() == 'admin'">
		<div ng-repeat="project in projects" class="item">
			<h3>{{ project.title }}		</h3>
			<div style="position:relative; bottom:5px; left: 60%;">
				<button ng-click="details(project)" title="Tasks on project"> <img src="images/addTask.png" width="30"> </button>
				<button ng-click="addUsers(project)" title="Add users on project"><img src="images/addPeople.png" width="30">  </button>
				<button ng-click="report(project)" title="Reports"><img src="images/report.png" width="30">  </button>
			</div>
			</div>	
		</div>
		<div ng-if="getCurrentUserRole() == 'user'">
			<div ng-repeat="project in projects" >
			<div ng-if="project.users.indexOf(getCurrentUserId())!==-1" class="item">
				<h3>{{ project.title }}</h3>
				<div style="position:relative; bottom:5px; left: 70%;">
					<button ng-click="details(project)" title="Details"><img src="images/addTask.png" width="30"> </button>
				<button ng-click="report(project)" title="Reports"><img src="images/report.png" width="30">  </button>
				</div>
				</div>
			</div>
			</div>
		
	</div>
	<div  ng-if="getCurrentUserRole()=='admin'" class="newItem">
	<h2>New project</h2>
	<table width="300">
		<tr>
			<td><input class="form-control input-sm chat-input" type="text" ng-model="project.title" placeholder="Title"></td>
		</tr>
		<tr>
			<td align="right"> <br/><button class="btn btn-primary" ng-click="save()">submit</button></td>
		</tr>
	</table>
	</div>

</div>